@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: auto;

}

.menu {
  background-color: rgb(199, 180, 143);
  border-radius: 5px;

}

.page-title {
  align-items: center;
  text-align: center;
  gap: 0.5rem/* 8px */;
  font-size: 1.50rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  font-weight: 600;
}

.page-subtitle {
  align-items: center;
  text-align: center;
  gap: 0.4rem;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.page-content {
  align-items: center;
  text-align: center;
  gap: 0.3rem;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
}
